.container {
    width: 300px;
    height: 100px;
    font-family: 'Courier New', Courier, monospace;
}
.main {
    margin: 0 5px;
    padding: 10px 20px;
    text-align: center;
    color: #0A0A0A;
}
#time, #message:after {
    font-weight: bold;
    font-size: 40px;
}
.complete #time {
    display: none;
}
.complete #message:after {
    content: 'DO:NE';
}
