@font-face {
    font-family: 'Charm';
    font-weight: bold;
    src: url('../fonts/Charm-Bold.ttf');
}
@font-face {
    font-family: 'Merienda';
    font-weight: bold;
    src: url('../fonts/Merienda-Bold.ttf');
}
@font-face {
    font-family: 'Alex Brush';
    font-weight: normal;
    src: url('../fonts/AlexBrush-Regular.ttf');
}
@font-face {
    font-family: 'Allura';
    font-weight: normal;
    src: url('../fonts/Allura-Regular.ttf');
}
@font-face {
    font-family: 'Erika Type';
    font-weight: normal;
    src: url('../fonts/ErikaType.ttf');
}
@font-face {
    font-family: 'Noto Sans Mono';
    font-weight: bold;
    src: url('../fonts/NotoSansMono-Bold.ttf');
}
@font-face {
    font-family: 'Xanh Mono';
    font-weight: normal;
    src: url('../fonts/XanhMono-Regular.ttf');
}

#overlay {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
}
#controls {
    width: 380px;
    padding: 20px;
    background-color: #222244;
    color: #ffffff;
}
#controls div {
    margin-bottom: 8px;
}
#controls button,
#controls label {
    display: inline-block;
    width: 140px;
    margin-right: 4px;
    text-align: center;
}
#controls #error.error {
    display: inline;
    margin-left: 4px;
    background-color: #880000;
}
#controls #error.ok {
    display: none;
}
#controls select {
    vertical-align: middle;
    width: 230px;
}
#controls #start-time {
    width: 65px;
}
#controls #active-toggle {
    font-size: 1.6em;
    width: 380px;
}
#controls #save-settings {
    width: 230px;
}
.withAfter::after{
    content: attr(content);
}

.optionContainer{
    position: absolute;
    background-color: #9B9572;
    padding: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.currentlySelected{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
    justify-content: space-between;
}

.option{
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 0.25rem;
    cursor: pointer;
}

fancy-select .hasMouseOver:hover{
    background-color: #B7A981;
}

fancy-select .selected{
    background-color: #E3E5EA44;
}