.plain-light .container {
    width: 300px;
    height: 100px;
    font-family: Verdana, Tahoma, sans-serif;
}
.plain-light #title:after {
    content: 'Zatsu:';
    font-weight: bold;
    font-size: 30px;
    vertical-align: text-bottom;
}
.plain-light .main {
    margin: 0 5px;
    padding: 10px 20px;
    text-align: center;
    color: #F9F9F9;
    text-shadow:
        1px 1px 1px rgba(0,0,0,0.5),
        -1px 1px 1px rgba(0,0,0,0.5),
        1px -1px 1px rgba(0,0,0,0.5),
        -1px -1px 1px rgba(0,0,0,0.5);
}
.plain-light #time, .plain-light #message:after {
    font-weight: bold;
    font-size: 40px;
}
.plain-light .complete #time {
    display: none;
}
.plain-light .complete #message:after {
    content: 'Done!';
}
