.container {
    width: 300px;
    height: 100px;
    font-family: Verdana, Tahoma, sans-serif;
}
#title:after {
    content: 'Zatsu:';
    font-weight: bold;
    font-size: 30px;
    vertical-align: text-bottom;
}
.main {
    margin: 0 5px;
    padding: 10px 20px;
    text-align: center;
    color: #0A0A0A;
    text-shadow:
        1px 1px 1px rgba(255,255,255,0.3),
        -1px 1px 1px rgba(255,255,255,0.3),
        1px -1px 1px rgba(255,255,255,0.3),
        -1px -1px 1px rgba(255,255,255,0.3);
}
#time, #message:after {
    font-weight: bold;
    font-size: 40px;
}
.stopped #time {
    color: #444444;
}
.complete #time {
    display: none;
}
.complete #message:after {
    content: 'Done!';
}
