.container {
    width: 300px;
    height: 100px;
    font-family: Verdana, Tahoma, sans-serif;
}
#title:after {
    content: 'Zatsu:';
    font-weight: bold;
    font-size: 30px;
    vertical-align: text-bottom;
}
.main {
    margin: 0 5px;
    padding: 10px 20px;
    text-align: center;
    color: #F9F9F9;
    text-shadow:
        1px 1px 1px rgba(0,0,0,0.5),
        -1px 1px 1px rgba(0,0,0,0.5),
        1px -1px 1px rgba(0,0,0,0.5),
        -1px -1px 1px rgba(0,0,0,0.5);
}
#time, #message:after {
    font-weight: bold;
    font-size: 40px;
}
.complete #time {
    display: none;
}
.complete #message:after {
    content: 'Done!';
}
