.container {
    width: 200px;
    height: 150px;
    font-family: Verdana, Tahoma, sans-serif;
}
.outer {
    background-color: #B7A981;
    height: 12px;
}
.inner {
    background-color: #9B9572;
    height: 10px;
    margin: 0 5px;
}
#title:after {
    display: block;
    content: 'ZATSU';
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.1em;
}
.main {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #E3E5EA;
    color: #222428;
    text-align: center;
}
#time, #message:after {
    display: inline-block;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
}
.complete #time {
    display: none;
}
.complete #message:after {
    content: 'Done!';
}
