.container {
    width: 200px;
    height: 150px;
    font-family: Verdana, Tahoma, sans-serif;
}
.inner {
    background-color: #ADADAD;
    height: 14px;
}
#title:after {
    display: block;
    content: 'ZATSU';
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.1em;
}
.main {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #312C2D;
    color: #FFFFFF;
    text-align: center;
}
#time, #message:after {
    display: inline-block;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
}
.stopped #time {
    color: #DDDDDD;
}
.complete #time {
    display: none;
}
.complete #message:after {
    content: 'Done!';
}
